main{
    font-family: interM;
}

.map_location_block,
.map_location_heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.map_location_heading{
    padding: 120px 48px 64px 48px;
    animation: fadeInUp 0.8s ease;
}

.map_location_heading h1{
    font-size: var(--heading-font-n);
}

.map_location_heading p{
    font-size: var(--normal-font-s);
    color: rgba(94, 94, 94, 1);
}

.map_location_main{
    width: 100%;
    position: relative;
    animation: fadeInUp 0.8s ease;
}

.map_location_main input{
    display: none;
}

.maps_navigation{
    position: absolute;
    top: 40px;
    left: 37%;
    padding: 14px 40px;
    background-color: var(--white-text); 
    border-radius: var(--border-radius-button);
    display: flex;
    gap: 64px;
    z-index: 1000;
}

.maps_navigation label{
    font-size: 18px;
    padding: 10px;
}

.maps_type iframe{
    display: none;
}

#google_map:checked ~ .maps_type .google,
#m2gis_map:checked ~ .maps_type .m2gis,
#yandex_map:checked ~ .maps_type .yandex{
    display: block;
}

#google_map:checked ~ .maps_navigation label[for="google_map"],
#m2gis_map:checked ~ .maps_navigation label[for="m2gis_map"],
#yandex_map:checked ~ .maps_navigation label[for="yandex_map"]{
    border-bottom: var(--border-button-m) var(--black-text);
}

.contacts_block{
    width: 100%;
    padding: 120px 40px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    background-color: var(--gray-element);
}

.contacts_block>div{
    display: flex;
    gap: 32px;
}

.contacts_heading{
    background-color: var(--white-text);
    border-radius: var(--border-radius-t);
    padding: 32px;
    width: 390px;
    height: 265px;
}

.contacts_heading h1{
    font-size: var(--heading-font-n);
    line-height: 150%;
}

.contacts_main{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border-radius: var(--border-radius-t);
    background-color: var(--white-text);
    width: 100%;
    height: 265px
}

.contacts_main h2{
    font-size: 18px;
}

.contacts_main p{
    font-size: var(--normal-font-s);
    color: var(--gray-text);
    line-height: 150%;
}

.contacts_main a{
    color: rgb(0, 0, 179);
}

.social_media_contacts{
    display: flex;
    align-items: center;
    gap: 32px;
}

.social_media_contacts a{
    font-size: var(--normal-font-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    color: var(--black-text);
    border-bottom: var(--border-button-m) var(--black-text);
    width: 165px;
    height: 45px;
}

.social_media_contacts>a>:first-child{
    width: 16px;
}

.social_media_contacts>a>:last-child{
    width: 18px;
}

.form_contacts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form_contacts>div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.form_contacts>div>div{
    display: flex;
    align-items: center;
}

.form_contacts>div>div>svg{
    width: 66px;
    color: var(--black-text);
    height: 66px;
    background-color: var(--gray-element);
    padding: 24px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.form_contacts>div input{
    width: 370px;
    padding: 26px 24px 26px 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--gray-element);
    font-family: interM;
    font-size: var(--normal-font-s);
    border: transparent;
    height: 66px;
}

.form_contacts>div input::placeholder{
    color: var(--black-text);
}

.form_contacts>div input:focus{
    border: transparent;
    outline: none;
}

.select_con{
    width: 436px;
    height: 66px;
    position: relative;
}

.select_con input[type="radio"],
.select_con input[type="checkbox"]{
    display: none;
}

.headerr_con{
    display: flex;
    align-items: center;
}

.selection_location{
    padding: 26px 24px 26px 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-element);
    font-size: var(--normal-font-s);
    cursor: pointer;
    height: 66px;
    width: 370px;
}

.selection_location svg{
    transition: transform 0.5s ease;
}

.icon_image{
    height: 66px;
}

.icon_image svg{
    height: 66px;
    width: 66px;
    color: var(--black-text);
    background-color: var(--gray-element);
    padding: 24px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

#openToggle_con:checked+.headerr_con .selection_location svg{
    transform: rotate(180deg);
}

.options_con{
    display: none;
    position: relative;
    margin-top: 16px;
    background-color: var(--gray-element);
    border-radius: var(--border-radius-t);
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    width: 440px;
    height: 215px;
}

#openToggle_con:checked ~ .options_con{
    display: block;
}

.options_con label{
    padding: 15px 24px;
    font-size: var(--normal-font-s);
    display: block;
}

.value_con{
    display: none;
}

#tashkent_con:checked ~ .headerr_con .c_1,
#tashkent_obl_con:checked ~ .headerr_con .c_2,
#syrdarya_obl_con:checked ~ .headerr_con .c_3,
#fergana_obl_con:checked ~ .headerr_con .c_4{
    display: inline;
    color: var(--black-text);
}

#tashkent_con:checked ~ .options_con label[for="tashkent_con"],
#tashkent_obl_con:checked ~ .options_con label[for="tashkent_obl_con"],
#syrdarya_obl_con:checked ~ .options_con label[for="syrdarya_obl_con"],
#fergana_obl_con:checked ~ .options_con label[for="fergana_obl_con"]{
    background-color: var(--black-text);
    color: var(--white-text);
}

#tashkent_con:checked ~ .headerr_con .placeholder_con,
#tashkent_obl_con:checked ~ .headerr_con .placeholder_con,
#syrdarya_obl_con:checked ~ .headerr_con .placeholder_con,
#fergana_obl_con:checked ~ .headerr_con .placeholder_con{
    display: none;
}

.form_contacts>div>div button{
    width: 436px;
    height: 66px;
    padding: 25px;
    border: none;
    border-radius: var(--border-radius-t);
    background-color: var(--red-text);
    color: var(--white-text);
    font-size: var(--normal-font-s);
    font-family: interM;
    cursor: pointer;
}

.maps_contacts{
    display: flex;
    align-items: center;
    gap: 32px;
}

.maps_contacts a{
    color: var(--black-text);
    font-size: var(--normal-font-s);
    border-bottom: var(--border-button-m) var(--black-text);
    width: 165px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
}

.maps_contacts a img{
    width: 18px;
}